.wrapPosts {
    display: flex;
    column-gap: 15px;
    padding: 15px;
}
.postsBox {
    background: antiquewhite;
    border: 1px solid crimson;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #cf0be5;
}

.rightColumnPost {
    background: linen;
    border-radius: 10px;
    box-shadow: 0 0 10px #11cbee;
    width: 400px;
    height: fit-content;
}
