body {
    background: #fcead8;
    width: 1920px;
}

img {
    width: 90%;
    border: 2px solid black;
}
div {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

