.wrapper {
    display: flex;
    column-gap: 15px;
    padding-top: 10px;
    padding-left: 20px;
}
.usersBox {
    background: antiquewhite;
    border: 1px solid crimson;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #cf0be5;
}

.rightColumn {
    background: linen;
    border-radius: 10px;
    box-shadow: 0 0 10px #11cbee;
    width: fit-content;
    height: fit-content;
    margin: 20px;
    padding: 10px;
}