.wrap {
    display: flex;
}
.usersBox {
    border: 2px solid black;
    width: fit-content;
    padding: 10px;
}
.rightColumn {
    border: 2px solid #8e0000;
    width: fit-content;
    padding: 10px;
}