.userBox {
    display: flex;
    justify-content: space-between;
}

.userBox:hover {
    background: rgba(213, 141, 63, 0.75);
    border-radius: 5px;
}

.characters {
    text-decoration: none;
    color: black;
}